@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /* border: 1px solid red; */
}
.container{
    width: 100%;
    height: 110vh;
    background-size: cover;
    background-position: center;
    background-image: url(./images/background-3-1440.webp);
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}
nav{width: 100%;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
    transition: .5s;
    /* background-color: black; */
}
nav:hover{
    background-color: black;
    
}
.menu{width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.menu select{
    color: white;
    background: none;
    border: none;
    font-size: 15px;
    font-weight: 560;
    outline: none;
}
.menu h2{
    font-size: 15px;
    color: white;
    font-weight: 570;
    
}
.login{
    width: 270px;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    
}
.login a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    /* font-weight: 600; */
}
.start-btn{
    padding: 18px 30px;
    margin: 0px 0px 0px 40px;
    border: none;
    font-weight: 550;
    font-size: 13px;
    color: #000000;
    background: #ffff;
    /* width: 150px; */
}
.hero-sec{width: 100%;
    height: 100vh;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: relative; */
    
}
.text-sec{width: 500px;
    height: 90vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* justify-content: center; */
}
.text-sec h1{
    font-size: 72px;
    color: white;
    line-height: 70px;
    padding-bottom: 30px;
}
.text-sec p {
    color: #ffff;
    font-size: 20px;
    padding-bottom: 30px;
}
.start-btntwo{position: absolute;
    bottom: 70px;
    left: 0px;
    
    padding: 18px 30px;
    /* padding-left: 90px; */
    margin: 0px 0px 0px 40px;
    border: none;
    font-weight: 800;
    font-size: 13px;
    color: #000000;
    background: #ffff;
    /* position: absolute; */
    /* left: 0px; */
    /* bottom: 100px; */
    width: 180px;
    font-size: 15px;
 /* float: left; */
 /* margin-right: 100px; */
 
}
.image-sec{
    background-color: red;
    width: 600px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* z-index: -1; */
    /* overflow-y: +1; */
}
.image-sec img {position: absolute;
    bottom: 50px;
    height: 350px;
    /* z-index: -1; */
}
.second-sec{padding: 20px;
    height: 100vh;
    background-color: white;
}
.grow{font-weight: 800;
    font-size: 155px;
   
}
.business{
    font-size: 145px;
    text-align: end;
    line-height: 60px;
}
.online{text-align: center;
    font-size: 145px;
    /* width: 900px; */
    line-height: 220px;
}
.video-sec video{
    height: 500px;
}
.video-sec{
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.video-sec img{
    height: 500px;
}


@media(max-width:768px){
    .container{
        width: 100%;
        background-position: center;
        background-size: cover;
        /* background-image: url(./images/Screenshot_20230226_215420_edited.jpg); */
    }
    .menu{
        display: none;
    }
    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .login a{
        display: none;
    }
    .image-sec{
        display: none;
    }
    .hero-sec{display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        /* text-align: center; */
        /* padding: 80px; */
        /* height: 100vh; */

    }
    .business{
        font-size: 60px;
        text-align: center;
        /* line-height: 60px; */
    }
    .online{
        font-size:70px;
          
        line-height: 100px;
        text-align: center;
        /* background-color: red; */
    }
   /* .grow-text {width: 100%;
    font-size: 30px;
   } */
    .text-sec h1{
        font-size: 40px;
    }
    .text-sec p{
        font-size: 25px;
    }
    .text-sec{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* .start-btn{
        padding: 20px 20px;
    } */
    .logo img{
        width: 200px;
    }
    .start-btntwo{
        /* bottom: 200px; */
        left: 60px;
    }
    .start-btn{
        width: 100%;
        height: 50px;
        /* padding: 20px; */
        display: flex;
        align-items: center;
        justify-content: center;
        /* text-align: center; */
    }
    .second-sec{height: 100vh;
        width: 100%;
    }
    .video-sec{height: 80vh;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        
    }
    .video-sec video{
        height: 300px;
        width: 100%;
    }
    .video-sec img{
        height: 400px;
        width: 100%;
    }
   .grow{text-align: center;
    font-size: 50px;
   }
}